Repository KerasKorea/KerasObjectDetector, pull requests merged in 2019-10, with the labels that each got.

#17 box thickness relative to image size
  utils/show_bbox.py
Labels: visualization

#39 Resolved issues (#15, #33)
  keras_retinanet/preprocessing/download.py
  keras_retinanet/utils/make_generator.py
Labels: preprocessing

#50 Download COCO Dataset (#14)
  keras_retinanet/preprocessing/download.py
  keras_retinanet/utils/make_generator.py
Labels: dataset, preprocessing

#44 Create custom shapes dataset #34
  datasets/__init__.py
  datasets/config.py
  datasets/model.py
  datasets/shape.py
  datasets/utils.py
  datasets/visualize.py
  tests/preprocessing/test_shape_dataset.py
Labels: preprocessing

#65 Add gitignore
  .gitignore
  CONTRIBUTORS.md
  ISSUE_TEMPLATE.md
  LICENSE
Labels: bug

#70 Fix hash function and add hash origin value of annotations2017.zip (#53)
  keras_retinanet/preprocessing/download.py
Labels: dataset, preprocessing
